a:link {text-decoration: none; }
a:visited {text-decoration: none; }
a:hover {text-decoration: none; }
a:active {text-decoration: none; }
body, html{
        margin: 0;
        padding: 0;
        font-family: 'Open Sans', sans-serif;
	background: grey;
	color: #fff;
	background: url(./images/back.jpg) no-repeat center center fixed;
}
header {
	margin-top: 1em;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
header > img{
	width: 6em;
	height: 6em;
	border-radius: 100%;
	border: 1px solid #fff;
	box-shadow: red 0px 2px 80px 0px;
}
header > h1{
	display: inline-block center;
	align-items: center;
	justify-content: center;
	font-size: 1.0em;
	font-weight: bold;
	border-radius: 1em;
	background-color: #000a;
	color: #fff;
	padding: 0.3em 1.6em;
	border: 1px solid #fff;	

}
h2{
        display: center;
        font-size: 1.0em;
        background-color:#000a;
        color:#fff;
        padding: 0.3em 1.6em;
        border: 1px solid #fff;
}
header > li{
	display: inline-block;
	font-size: 1.0em;
	background-color: #000;
	color: #fff;
	padding: 0.3em 1.6em;
	border: 1px solid #fff;
}
p{
	display: inline-block;
	font-size: 0.8;
	background-color: #000b;
	color: #fff;
	padding: 0.3em 1.6em;
	border: 1px solid #fff;
}
